<p>request-computer works!</p>
<form>
    <div class="form-group">
      <label for="computer-type">Datoru tips:</label>
      <input type="text" class="form-control" id="computer-type" name="computer-type">
    </div>
    <div class="form-group">
      <label for="quantity">Skaits:</label>
      <input type="number" class="form-control" id="quantity" name="quantity">
    </div>
    <div class="form-group">
      <label for="operatingSystem">Operētājsistēma:</label>
      <input type="text" id="operatingSystem" name="operatingSystem" class="operatingSystem"> 
      </div>
    <div class="form-group">
      <label for="requirements">Papildus nosācījumi:</label>
      <textarea class="form-control" id="requirements" name="requirements"></textarea>
    </div>  
    <button type="submit" class="btn btn-primary">Atsūtit pieprasījumu</button>
  </form>
  